<section class="container">
  <h1 class="text-center p-5">Shivam Decorators</h1>
  <section *ngIf="!products.length"
    class="bg-body-tertiary text-capitalize text-center h-25">
    <h3 *ngIf="!products.length"
        class="text-center px-5 text-bg-danger">Please Add Products here.</h3>
<!--    No Products added.-->
  </section>
    <table *ngIf="products.length" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Cost ₹</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index;">
          <td scope="col">
            <button type="button" class="col btn btn-danger" (click)="removeProduct(i)">
              <i class="bi bi-x"></i> {{ i }}
            </button>
          </td>
          <td scope="col">
            {{product.desc}}
          </td>
          <td scope="col">
            {{product.qty}}
          </td>
          <td scope="col">
            {{product.cost}}
          </td>
          <td scope="col">
            <span>₹ {{ product.total }}</span>
          </td>
        </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Sub Total </td>
        <td>₹ {{subTotal()}}</td>
      </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>GST(%): {{ gstPercentage }}</td>
          <td>₹ {{ gstOnSubTotal() }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Grand Total:</td>
          <td>₹ {{grandTotal()}}</td>
        </tr>
      </tbody>
    </table>
  <hr>
<!--  <section class="border-black">-->
      <form class="row text-center my-5" #productForm="ngForm">
        <div class="col-md-4">
        <label class="my-3" for="description">Description: </label>
        <input
          [ngClass]="{'border border-danger': description.invalid}"
          class="mx-2"
          id="description"
          name="description"
          #description="ngModel"
          [(ngModel)]="oneProduct.desc"
          type="text"
          placeholder="Enter goods or services"
          required
        />
        </div>
        <div class="col-md-4">
        <label class="my-3" for="quantity">Quantity: </label>
        <input
          id="quantity"
          class="mx-2"
          name="qty"
          [(ngModel)]="oneProduct.qty"
          type="number"
          placeholder="Quantity"
          min="0"
        />
        </div>
        <div class="col-md-4">
        <label class="my-3" for="cost">Cost: </label>
        <input
          id="cost"
          class="mx-2"
          name="cost"
          [(ngModel)]="oneProduct.cost"
          type="number"
          placeholder="Amount in ₹"
          min="0"
        />
        </div>
      </form>
    <div class="my-5 row col-lg-12">
      <span class="col-md-3"></span>
      <button (click)="addProduct()"
              [disabled]="!oneProduct.desc"
              type="button"
              class="col-md-3 btn btn-primary">
        <i class="bi bi-plus-lg"></i> Add
      </button>
      <button type="button"
              *ngIf="products.length"
              class="col-md-3 btn btn-danger"
              (click)="resetForm()">
        <i class="bi bi-x-lg"></i> Reset
      </button>
      <span class="col-md-3"></span>
    </div>
<!--  </section>-->

</section>
